html,
body {	
	width: 100% !important;
}

body {
	overflow-y: scroll; 
} 

.e-divider {
	width: 50px !important;
}

.brick-1, .brick-2, .brick-3, .brick-4, .brick-5, .brick-6, .brick-7, .brick-8, .brick-9, .brick-10, .brick-11, .brick-12 {
	flex:1 1 auto !important;
}

.e-appbar {
	z-index: 7 !important;
	background: #363166;
}

.e-appbar a img {
	margin: 7px 0 0 20px;
}

.e-appbar a {
	padding-right: 20px;
}

.e-appbar a:first-child {
	padding-right: 0;
}

pre {
	padding: 10px!important;
}
.component {
	height: 100%;
	width: 100%;
}
.colors {
	height: 500px;
	overflow: auto;
}
.colors button.e-background-white {
	border: 1px solid #999;
	color: #999;
}
.e-nav-drawer {
	top:64px !important;
}
.e-nav-drawer nav .e-navigation-wrapper .e-list-navigation {
	padding-top: 0!important;
}
.e-list-navigation > li:hover {
	background: inherit!important;
}
.e-list-navigation > .e-list-navigation li:hover {
	background: #e8e8e8!important;
}

.e-nav-drawer .link {
	padding-left: 50px;
	line-height: 48px;
	font-size: 12px;
}

.e-nav-drawer .link:hover {
	background: #eee;
}

.e-list-navigation .group-list-title {
	margin: 0;
	padding: 16px;
	font-weight: 400;
	text-transform: uppercase;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	background-color: #EEEEEE;
	cursor: default;
}
.e-list-navigation .group-list-title img {
	vertical-align: middle;
	opacity: .6;
}

.card-link {
	display: block;
	width: 100%;
	height: 200px;
	margin: 10px 10px 0 0 ;
}

.card-link span {
	display: block;
	padding: 20px 0 0 20px;
	font-size: 30px;
    font-weight: 100;
}

.card-link img {	
	padding-left: 10px;
}

.e-search {
	margin: 0!important;
	width: 40%;
}
.icon-preview {
	float: left;
	width: 45px;
	height: 45px;
	padding: 12px;
	font-size: 30px;
	cursor: pointer;
	line-height: 45px!important;
	text-align: center;
}
.icon-preview:hover {
	color: #6B6B6B!important;
}

.colorDialog {
	padding: 0;
}
.colorDialog .e-dialogs-content {
	opacity: 1!important;
}
.colorDialog .preview {
	width: 100%;
    height: 200px;
}
.colorDialog .preview .rgb {
	color: #FFF;
	text-shadow: 1px 1px 3px #222;
	line-height: 100px;
}
.colorDialog .preview .hex {
	color: #FFF;
	text-shadow: 1px 1px 3px #222;
}

.padding-top-bottom-10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

#navigationMenu {
	overflow-y: hidden; 
}

#navigationMenu > ul {
	overflow-y:scroll;
	height: 100%;
	padding-bottom: 70px;
}

.properties .e-row {
	padding: 10px 0;
	border-top: 1px solid #ccc;
}

.properties .e-row .tabel-header {
	font-weight: 500;
}

.zIndex1 {
	z-index: 1 !important;
}

.toast-message ul {
	padding: 0;
	margin: 0;
}

@media only screen and (max-width : 760px){


	.no-resize .brick-3 {
		width: 24% !important;
	}
	
	.no-resize .brick-6 {
		width: 49% !important;
	}
}


@media (max-width: 768px) {
	
	body {
		margin-top: 56px;
	}
}

@media (min-width: 769px) {

	body {
		margin-top: 64px;
	}
	
	.e-container {
	    width: 98%;
	}
	
	.with-navigation {
		padding-left: 240px !important; 		
	}
}